<ngb-carousel #staticCarousel [interval]="100000" [wrap]="false">
  <ng-template ngbSlide>
    <section class="imgBox">
      <div class="row">
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
      </div>

    </section>
  </ng-template>
  <ng-template ngbSlide>
    <section class="imgBox">
      <div class="row">
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
        <div class="col-sm-4 box"> <img src="../../../assets/Rectangle 50.jpg" alt="Random first slide" />
        </div>
      </div>
    </section>
  </ng-template>

</ngb-carousel>